.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-section {
  flex: 1;
  padding: 20px;
  background-color: bisque;
}

.results-section {
  flex: 3;
  padding: 20px;
  overflow-y: auto;
}
