.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition:
    background-color 0.3s,
    color 0.3s;
  padding: 16px 0;
}

.app button {
  cursor: pointer;
}

.app.light {
  background-color: white;
  color: black;
}

.app.light button {
  background-color: gray;
  color: bisque;
}

.app.dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.app.dark button {
  background-color: green;
  color: rgb(123, 255, 0);
}

.theme-toggle-btn {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.app.light .theme-toggle-btn {
  background-color: rgb(138, 13, 255);
  color: white;
}

.app.light .theme-toggle-btn:hover {
  background-color: rgba(138, 13, 255, 0.7);
}

.app.dark .theme-toggle-btn {
  background-color: black;
  color: red;
}

.app.dark .theme-toggle-btn:hover {
  background-color: blue;
}

.search-section {
  flex: 1;
  padding: 20px;
}

.search-section.light {
  background-color: bisque;
}

.search-section.dark {
  background-color: rgb(167, 92, 0);
}

.results-section {
  flex: 3;
  padding: 20px;
  overflow-y: auto;
}

.page-change-btn-container {
  margin: 10px 0 0 40px;
  background-color: rgba(0, 0, 0, 0.3);
}

.unselectAll-download-container {
  margin-top: 10px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.app.light .unselectAll-download-container {
  border: 1px solid black;
}

.app.dark .unselectAll-download-container {
  border: 1px solid white;
}

.unselect-all-btn {
  border: 2px solid red;
}
