.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.app.light {
  background-color: white;
  color: black;
}

.app.dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.theme-toggle-btn {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(138, 13, 255);
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.theme-toggle-btn:hover {
  background-color: rgba(138, 13, 255, 0.7);
}

.search-section {
  flex: 1;
  padding: 20px;
}

.search-section.light {
  background-color: bisque;
}

.search-section.dark {
  background-color: rgb(167, 92, 0);
}

.results-section {
  flex: 3;
  padding: 20px;
  overflow-y: auto;
}
